@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(66, 66, 66);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(93, 93, 93)
}

code {
  font-family: Poppins, sans-serif;
}
